#back_top {
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	z-index: 9;
}

#back_top .icon  {
	display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
	text-align: center;
	position: relative;
	opacity: 1;
	color: #ffffff;
	background-color: var(--secondary);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#back_top .icon svg {
	transform: rotate(90deg);
	width: 15px;
}

#back_top .icon:hover {
	opacity: 1;
	color: #ffffff;
	background-color: var(--primary);
}
