/* Container S */
    .container-full {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: 1280px) {
        .container-full {
            max-width: 1280px;
        }
    }
    @media screen and (min-width: 1366px) {
        .container-full {
            max-width: 1366px;
        }
    }
    @media screen and (min-width: 1440px) {
        .container-full {
            max-width: 1440px;
        }
    }
    @media screen and (min-width: 1536px) {
        .container-full {
            max-width: 1536px;
        }
    }
    @media screen and (min-width: 1600px) {
        .container-full {
            max-width: 1600px;
        }
    }
    @media screen and (min-width: 1920px) {
        .container-full {
            max-width: 1920px;
        }
    }
    @media screen and (min-width: 2000px) {
        .container-full {
            max-width: 2000px;
        }
    }
    @media screen and (min-width: 2050px) {
        .container-full {
            max-width: 2050px;
        }
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
  
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1536px) {
        .container {
            max-width: 1176px;
        }
    }

    @media (min-width: 1600px) {
        .container {
            max-width: 1225px;
        }
    }

    @media (min-width: 1920px) {
        .container {
            max-width: 1470px;
        }
    }
/* Container E */