/* Global S */
    :root {
        --black: #000000;
        --white: #ffffff;
        --bg-grey: #f1f1f1;
        --primary: #0a1832;
        --secondary: #ff8d23;
        --tertiary: #000285;
        --content: #333333;
        --font-raleway: 'Raleway', sans-serif;
    }
    .bg-grey {
        background-color: var(--bg-grey);
    }
    html {
        height: 100%
    }
    body {
        min-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #wrapper {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
    .ttl-sc {
        text-align: center;
        position: relative;
        margin-bottom: 80px;
    }
    .ttl-sc:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        transform: translate(0%, -50%);
        border-bottom: 1px solid #ff8d2394;
        z-index: 0;
    }
    .ttl-sc .main-title {
        padding: 0 30px;
        background-color: #ffffff;
        z-index: 1;
        position: relative;
    }
    .main-title {
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--primary);
        display: inline-block;
        text-transform: capitalize;
    }
    @media (max-width: 991px) {
        .ttl-sc {
            margin-bottom: 50px;
        }
        .main-title {
            font-size: 32px;
        }
    }
    @media (max-width: 767px) {
        .ttl-sc .main-title {
            padding: 0 10px;
        }
        .main-title {
            font-size: 28px;
        }        
    }

    .bg-grey .ttl-sc .main-title {
        background-color: var(--bg-grey);
    }
    .btn-sc {
        padding-top: 70px;
    }
    @media (max-width: 991px) {
        .btn-sc {
            padding-top: 40px;
        }
    }
/* Global E */

/* owl-theme S */
    .owl-theme .owl-nav {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        margin-top: 0;
    }

    .owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next {
        font-size: 44px;
        line-height: 0;
        color: #ffffff;
        opacity: 0.3;
        -webkit-transition: all 0.5s ease-in-out;
        -khtml-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover {
        opacity: 1;
    }

    .owl-theme .owl-nav .owl-next {
        position: absolute;
        right: -60px;
    }

    @media (max-width:1200px) {
        .owl-theme .owl-nav .owl-next {
            right: 0;
        }
    }

    .owl-theme .owl-nav .owl-prev {
        position: absolute;
        left: -60px;
    }

    @media (max-width:1200px) {
        .owl-theme .owl-nav .owl-prev {
            left: 0;
        }
    }

    .owl-theme .owl-dots {
        margin: 0px 0px 0px 0px;
        position: absolute;
        margin-top: 0;
        width: 100%;
        left: 0;
        bottom: 20px;
    }

    .owl-theme .owl-item .item {
        width: 100% !important;
    }

    .owl-theme .owl-nav [class*=owl-], .owl-theme .owl-nav [class*=owl-]:hover{
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .owl-theme .owl-dots .owl-dot span{
        width: 10px;
        background-color: #ff8d2394 !important;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: var(--secondary) !important;
    }
/* owl-theme E */

/* Header S */
    .topbar-mn {
        background-color: var(--primary);
        padding: 10px 30px;
    }
    .topbar-mn .topbar-sc a {
        color: var(--white);
    }
    .topbar-mn .topbar-sc a:hover {
        color: var(--secondary);
    }
    .topbar-mn .topbar-sc {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .topbar-mn .topbar-sc .social-sc li {
        display: inline-block;
        padding: 0 10px;
    } 
    .topbar-mn .topbar-sc .social-sc li:nth-child(1) {
        padding-left: 0px;
    }
    .topbar-mn .topbar-sc .cnt-dtl-sc span {
        font-size: 12px;
        padding: 0 10px;
        color: var(--secondary);
    }  
    .topbar-mn .topbar-sc .cnt-dtl-sc span i {
        font-size: 14px;
        margin-right: 5px;
    }

    .header-sc {
        padding: 30px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .header-sc .logo-sc {
        max-width: 150px;
        display: inline-block;
    }
    .header-sc .nav-sc {
        width: calc(100% - 150px);
        text-align: center;
    }
    .header-sc .nav-sc ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-sc .nav-sc ul li {
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-sc .nav-sc ul li a:not(.btn) {
        display: block;
        font-weight: 600;
        /*font-family: var(--font-raleway);*/
        color: var(--primary);
        position: relative;
        font-size: 18px;
    }
    .header-sc .nav-sc ul li a.btn {
        font-size: 14px;
        padding: 12px 30px;
    }
    .header-sc .toggle-sc {
        cursor: pointer;
    }
    @media (min-width: 1024px) {
        .header-mn {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 8;
            background-color: var(--white);
        }
        .header-mn.sticky {
            position: fixed;
            animation: headerSticky 1s ease-in-out;
            box-shadow: 0px 4px 20px rgb(0 0 0 / 18%);
        }
        .header-mn.sticky .header-sc {
            padding: 5px 30px;
            transition: 0.3s;
        }
        .header-sc .toggle-sc {
            display: none;
        }
        .header-sc .srch-sc {
            max-width: 150px;
        }
        .header-sc .nav-sc ul li a:not(.btn):before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            bottom: -10px;
            border-bottom: 6px solid var(--secondary);
            width: 0%;
            animation: headerHoverOut 1s ease-in-out;
        }
        .header-sc .nav-sc ul li.active a:before,
        .header-sc .nav-sc ul li a:hover:before {
            width: 100%;
            animation: headerHover 0.8s ease-in-out;
        }
        @keyframes headerHover {
            from {width: 0%; opacity: 0;}
            to {width: 100%; opacity: 1;}
        }
        @keyframes headerHoverOut {
            from {width: 100%; opacity: 1;}
            to {width: 0%; opacity: 1;}
        }
        @keyframes headerSticky {
            from {transform: translate(0px, -200px); opacity: 1;}
            to {transform: translate(0px, 0px); opacity: 1;}
        }
    }
    @media (max-width: 1199px) {
        .header-sc .nav-sc ul li {
            padding-left: 15px;
            padding-right: 15px;
        }
        .header-sc .nav-sc ul li a.btn {
            padding: 12px 20px;
        }
        .header-sc {
            padding: 20px 30px;
        }
    }
    @media (max-width: 1023px) {
        .header-sc {
            padding: 15px 30px;
        }
        .header-sc .nav-sc {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;
            z-index: 8;
            background-color: #ffffff;
            padding-bottom: 30px;
        }
        .header-sc .nav-sc ul {
            flex-direction: column;
        }
        .header-sc .nav-sc ul li {
            padding: 0px 0px;
            width: 100%;
            border-top: 1px solid var(--primary);
        }
        .header-sc .nav-sc ul li a {
            padding: 15px 0px;
        }
        .header-sc .nav-sc ul li a.btn {
            margin-top: 15px;
        }
        .header-sc .nav-sc ul li.active a {
            color: var(--primary);
        }
        .header-sc .nav-sc ul li:first-child {
            border-top: 0px;
        }
        .header-sc .icn-bars {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .header-sc .icn-bars .toggle-sc {
            padding-left: 30px;
        }
        .header-sc .icn-bars svg {
            width: 28px;
        }
    }
    @media (max-width: 767px) {
        .header-sc, .topbar-mn {
            padding: 10px 15px;
        }
        .header-sc .logo-sc {
            max-width: 130px;
        }
        .header-sc .icn-bars svg {
            width: 25px;
        }
        .header-sc .nav-sc {
            padding-bottom: 15px;
        }
        .topbar-mn .topbar-sc {
            flex-direction: column;
        }
        .topbar-mn .topbar-sc .social-sc {
            margin-bottom: 5px;
        }
        .topbar-mn .topbar-sc .social-sc li:nth-child(1) {
            padding-left: 10px;
        }
        .topbar-mn .topbar-sc .cnt-dtl-sc {
            text-align: center;
        }
        .topbar-mn .topbar-sc .cnt-dtl-sc span {
            padding: 5px 5px;
        }
        .topbar-mn .topbar-sc .cnt-dtl-sc span:last-child {
            display: block;
        }
    }
/* Header E */

/* Footer S */
    .ftr-mn {
        background-color: #0f0f0f;
        padding: 20px 0px;
    }
    .ftr-mn .ft-logo {
        text-align: center;
    }
    .ftr-mn .cpt-sc {
        color: #5d5d5d;
        display: block;
        text-align: center;
        font-size: 14px;
        margin-top: 0px;
        font-weight: 600;
        line-height: 150%;
    }
    @media (max-width: 767px) {
        .ftr-mn {
            padding: 30px 0px;
        }
    }
/* Footer E */

/* Banner S */
    .bnr-mn .bnr-sc {
        height: 500px;
        background-size: cover;
        padding: 50px 0;
        position: relative;
    }
    .bnr-mn .bnr-sc:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: hsl(0deg 0% 0% / 51%);
        z-index: 0;
    }
    .bnr-mn .bnr-sc > .container {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .bnr-sc .bnr-cnt-sc {
        max-width: 500px;
    }
    .bnr-sc .bnr-cnt-sc .bnr-ttl {
        color: #ffffff;
        margin-top: 0px;
    }
    .bnr-sc .bnr-cnt-sc p {
        color: #dcdcdc;
        font-size: 16px;
    }
    .bnr-sc .bnr-cnt-sc .btn-sc {
        padding-top: 30px;
    }
    .bnr-sc .bnr-cnt-sc .btn-sc a {
        display: inline-block;
    }
    .bnr-mn .owl-theme .owl-nav {
        margin-top: 0px;
        top: calc(50% - 35px);
    }
    .bnr-mn .owl-theme .owl-nav [class*=owl-] {
        width: 50px;
        height: 70px;
        /*opacity: 1;*/
        margin: 0;
        border-radius: 0%;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .bnr-mn .owl-theme .owl-nav [class*=owl-]:hover {
        background-color: var(--white);
    }
    .bnr-mn .owl-theme .owl-nav [class*=owl-] svg {
        height: 80%;
    }
    .bnr-mn .owl-theme .owl-nav [class*=owl-] svg path {
        stroke: var(--primary);
    }
    .bnr-mn .owl-theme .owl-nav .owl-prev {
        left: 0;
    }
    .bnr-mn .owl-theme .owl-nav .owl-next {
        right: 0;
    }

    @media (max-width: 991px) {
        .bnr-mn .owl-theme .owl-nav {
            display: none;
        }
        .bnr-mn .bnr-sc {
            height: 400px;
        }
        .bnr-sc .bnr-cnt-sc .bnr-ttl {
            font-size: 32px;
        }
        .bnr-sc .bnr-cnt-sc p {
            font-size: 14px;
        }
    }
    @media (max-width: 767px) {
        .bnr-sc .bnr-cnt-sc .bnr-ttl {
            font-size: 30px;
        }
    }
/* Banner E */

/* Service S */
    .srvc-sc {
        text-align: center;
        padding: 40px 30px 30px;
        background: #0a1832;
        height: 100%;
        position: relative;
        border-bottom: 10px solid #ff8d23;
        border-radius: 0px 30px;
        transition: all 0.3s ease-in-out;
    }
    .srvc-sc:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: 6px 8px 2px #00000045;
    }
    .srvc-sc span.srvc-num {
        position: absolute;
        font-family: var(--font-raleway);
        left: 50%;
        top: 0px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #ffffff;
        line-height: 70px;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 600;
        box-shadow: 0px 0px 20px 2px #0a183226;
    }
    .srvc-sc .srvc-ttl,
    .srvc-sc p {
        color: #ffffff;
    }
    @media (max-width: 1199px) {
        .srvc-sc {
            padding: 40px 20px 30px;
            margin: 0 0 60px;
            height: calc(100% - 60px);
        }
        .srvc-sc .srvc-ttl {
            font-size: 24px;
        }
        .srvc-mn .btn-sc {
            padding-top: 0px;
        }
    }
/* Service E */

/* Bhk Layout S */
    .bhk-sc .img-sc {
        width: 100%;
        height: 280px;
        background: var(--white);
        box-shadow: 0px 0px 10px rgb(0 0 0 / 11%);
    }
    .bhk-sc .img-sc img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .bhk-sc .bhk-ttl {
        font-size: 20px;
        display: block;
        line-height: 150%;
        font-weight: 600;
        margin: 30px 0;
        position: relative;
    }
    .bhk-sc .bhk-ttl:before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -20px;
        border-bottom: 5px solid var(--secondary);
        width: 60px;
        transition: all 0.3s ease-in-out;
    }
    .bhk-sc:hover .bhk-ttl:before {
        width: 100px;
        transition: all 0.3s ease-in-out;
    }
    @media (max-width: 991px) {
        .bhk-sc .img-sc {
            height: 170px;
        }
    }
    @media (max-width: 767px) {
        .bhk-layout-mn .bhk-sc {
            display: block;
        }
        .bhk-layout-mn [class*=col-] + [class*=col-] .bhk-sc {
            margin-top: 50px;
        }
        .bhk-sc .img-sc {
            height: auto;
        }
    }
/* Bhk Layout E */

/* Project Gallery S */
    .prjct-gllry-mn {
        background-color: var(--primary);
        padding: 50px 0px;
    }
    .prjct-gllry-mn * {
        color: var(--white);
    }
    .prjct-gllry-mn .row {
        align-items: center;
    }
    .prjct-gllry-mn .mn-ttl {
        margin: 0px;
        font-size: 50px;
    }
    .prjct-gllry-mn [class*=gllry-] {
        display: block;
        text-align: center;
        line-height: 180%;
        padding:  15px 0px;
        position: relative;
        font-size: 20px;
    }
    .prjct-gllry-mn .gllry-ttl:before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100px;
        border-bottom: 1px solid var(--secondary);
    }

    @media (max-width: 1199px) {
        .prjct-gllry-mn .mn-ttl {
            font-size: 40px;
        }
        .prjct-gllry-mn [class*=gllry-] {
            font-size: 16px;
        }
    }
    @media (max-width: 991px) {
        .prjct-gllry-mn .mn-ttl {
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;
        }
        .prjct-gllry-mn [class*=gllry-] {
            font-size: 14px;
        }
    }
    @media (max-width: 991px) {
        .prjct-gllry-mn .mn-ttl {
            font-size: 28px;
        }
        .prjct-gllry-mn [class*=gllry-] {
            padding: 10px 0;
        }
    }
/* Project Gallery E */

/* Actual Location S */
    .act-location-mn .act-lt-sc .img-sc {
        box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
    }
    .act-location-mn .act-lt-sc .act-lt-ttl {
        font-size: 20px;
        display: block;
        line-height: 150%;
        font-weight: 600;
        margin: 30px 0;
        position: relative;
    }
    .act-location-mn .act-lt-sc .act-lt-ttl:before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -20px;
        border-bottom: 5px solid var(--secondary);
        width: 60px;
        transition: all 0.3s ease-in-out;
    }
    .act-location-mn .act-lt-sc:hover .act-lt-ttl:before {
        width: 100px;
        transition: all 0.3s ease-in-out;
    }
    @media (max-width: 767px) {
        .act-location-mn [class*=col-] + [class*=col-] .act-lt-sc {
            margin-top: 50px;
        }
    }
/* Actual Location E */

/* Location Map S */
    .location-sc .ttl-sc {
        text-align: left;
        margin-bottom: 40px;
    }
    .location-sc .ttl-sc:before {
        border-bottom: 2px solid var(--secondary);
        top: unset;
        bottom: -20px;
        width: 100px;
    }
    .location-sc .ttl-sc .main-title {
        padding: 0px;
    }
    .location-sc .btn-sc {
        padding-top: 40px;
    }
    .location-mn .map-sc iframe {
        width: 100%;
        height: 450px;  
    }
    @media (max-width: 991px) {
        .location-mn .map-sc iframe {
            height: 320px;
        }
    }
    @media (max-width: 767px) {
        .location-mn .location-sc {
            margin-bottom: 50px;
        }
        .location-mn .location-sc .btn-sc {
            padding-top: 30px;
        }
    }
/* Location Map E */

/* Inner Banner S */
    .inr-bnr-mn {
        background-size: cover;
        position: relative;
    }
    .inr-bnr-mn:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: hsl(0deg 0% 0% / 51%);
        z-index: 0;
    }
    .inr-bnr-mn .inr-bnr-sc {
        padding: 100px 0;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    .inr-bnr-mn .inr-bnr-sc .main-title {
        margin: 0 0 30px;
        color: #ffffff;
        position: relative;
    }
    .inr-bnr-mn .inr-bnr-sc .main-title:before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0%);
        border-bottom: 5px solid var(--secondary);
        width: 100px;
    }
    @media (max-width: 767px) {
        .inr-bnr-mn .inr-bnr-sc {
            padding: 50px 0px;
        }
    }
/* Inner Banner E */

/* CRM S */
    .crm-mn .crm-sc h1, .crm-mn .crm-sc h2,
    .crm-mn .crm-sc h3, .crm-mn .crm-sc h4,
    .crm-mn .crm-sc h5, .crm-mn .crm-sc h6 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .crm-mn .crm-sc h2,
    .crm-mn .crm-sc h1 {
        font-size: 36px;
    }
    .crm-mn .crm-sc h3 {
        font-size: 28px;
    }
    .crm-mn .crm-sc ul {
        padding-left: 20px;
    }
    .crm-mn .crm-sc ul li {
        list-style-type: disc;
        line-height: 150%;
    }
    .crm-mn .crm-sc p, 
    .crm-mn .crm-sc ul li {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .crm-mn .crm-sc .btn-sc {
        padding-top: 50px;
        text-align: center;
    }

    @media (max-width: 767px) {
        .crm-mn .crm-sc h2, .crm-mn .crm-sc h1 {
            font-size: 32px;
        }
        .crm-mn .crm-sc .btn-sc {
            padding-top: 30px;
        }
    }
/* CRM E */
/* Contact Us S */
    .cnt-map-mn {
        width: 100%;
        height: 100%;
    }
    .cnt-round-sc {
        background-color: var(--primary);
    }
    .cnt-icon {
        width: 60px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0px 0px 3px 8px #14162f;
    }
    .cnt-icon i {
        font-size: 22px;
        color: var(--primary);
    }
    .cnt-round-box .title {
        margin: 15px 0 0 0;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.8px;
    }
    .cnt-round-box .content {
        margin: 5px 0 10px 0;
        text-align: center;
        color: #fff;
        font-size: 14px;
        word-break: break-word;
    }
    .get-in-form {
        max-width: 700px;
        margin: auto;
    }
    @media(max-width: 767px) {
        .cnt-round-box .title {
            margin: 7px 0 0 0;
            font-size: 18px;
            letter-spacing: 1px;
        }
        .cnt-round-box .content {
            margin: 3px 0 5px 0;
            font-size: 13px;
        }
    }
    @media(max-width: 600px) {
        .cnt-round-item {
            margin-bottom: 30px;  
        }
        .cnt-round-item:last-child {
            margin-bottom: 0;
        }
    }
/* Contact Us E  */
/* Apply Portal Section S */
    .cnt-second {
        display: none;
    }
/* Apply Portal Section E */
/* Success Payment Page S*/
    .payment
    {
        border:1px solid #f2f2f2;
        height:280px;
        border-radius:20px;
        background:#fff;
    }
    .payment_header
    {
       background:rgb(40,167,69,1);
       padding:20px;
       border-radius:20px 20px 0px 0px;
       
    }

    .check
    {
       margin:0px auto;
       width:50px;
       height:50px;
       border-radius:100%;
       background:#fff;
       text-align:center;
    }

    .check i
    {
       vertical-align:middle;
       line-height:50px;
       font-size:30px;
    }

    .content 
    {
        text-align:center;
    }

    .content a
    {
        color:#fff;
        border-radius:30px;
        padding:5px 10px;
        background:rgb(40,167,69,1);;
        transition:all ease-in-out 0.3s;
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }
/* Success Payment Page E*/