/* Reset CSS S */
	body {
		padding: 0px !important;
	}
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}
	html {
		height: 100%;
		width: 100%;
		-webkit-overflow-style: scrollbar;
		-khtml-overflow-style: scrollbar;
		-moz-overflow-style: scrollbar;
		-ms-overflow-style: scrollbar;
		-o-overflow-style: scrollbar;
		overflow-style: scrollbar;
	}
	body {
		line-height: 100%;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		font-family: 'Montserrat', sans-serif;
		color: var(--content);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
	}

	ol, ul {
		list-style: none;
	}

	:focus {
		outline: 0;
	}

	a, a:hover, a:focus, a:active {
		text-decoration: none;
		-webkit-transition: all 0.5s ease-in-out;
		-khtml-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	body p {
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		line-height: 150%;
		color: var(--content);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
	}

	body p + p {	
		margin: 15px 0px 0px 0px;
	}

	body h1 {
		font-size: 40px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body h2 {
		font-size: 40px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body h3 {
		font-size: 32px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body h4 {
		font-size: 28px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body h5 {
		font-size: 24px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body h6 {
		font-size: 20px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		line-height: 120%;
		color: var(--primary);
		letter-spacing: 0px;
		word-spacing: 0px;
		text-transform: inherit;
		margin: 15px 0px 10px 0px;
		padding: 0;
	}

	body ul{
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
	}

	body #wrapper {
		background-color: #ffffff;
		background-repeat: repeat;
		background-position: center top;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-ms-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	body img {
		max-width: 100%;
	}

	a {
		color: var(--primary);
	}

	a:hover {
		color: var(--secondary);
	}

	@media (max-width: 1920px) {
	  	a[href*="tel:"] {
	  		pointer-events: none;
	  	}
	}

	@media (max-width: 1190px) {
	  	a[href*="tel:"] {
	  		pointer-events: painted;
	  	} 
	}
	@media (max-width:767px) {
	    .hidden-xs {
	        display: none !important
	    }

	}

	@media (min-width:768px) and (max-width:991px) {
	    .hidden-sm {
	        display: none !important
	    }
	}

	@media (min-width:992px) and (max-width:1199px) {
	    .hidden-md {
	        display: none !important
	    }
	}

	@media (min-width:1200px) {
	    .hidden-lg {
	        display: none !important
	    }

	}

	.ad-line{
		border-top: 1px solid #f4f4f4;
		height: 1px;
		margin: 15px 0;
	}

/* Reset CSS E */


/* Font Color Class S */

	.font-primary {
		color: var(--black) !important;
	}

	.font-secondary {
		color: #89c640 !important;
	}

	.font-success {
		color: #2e7d32 !important;
	}

	.font-warning {
		color: #ffa000 !important;
	}

	.font-danger {
		color: #d32f2f !important;
	}

	.font-info {
		color: #1a237e !important
	}

/* Font Color Class E */


/* BTN Class S */

	.btn{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 3px;
		line-height: 100%;
		padding: 16px 35px;
		-webkit-border-radius: 0px;
	    -khtml-border-radius: 0px;
	    -moz-border-radius: 0px;
	    -ms-border-radius: 0px;
	    -o-border-radius: 0px;
	    border-radius: 0px;
		text-transform: uppercase;
		cursor: pointer;
		transition: 0.3s;
	}

	.btn,
	.btn-primary {
		color: var(--white);
		background-color: var(--secondary);
		border: 1px solid var(--secondary);
	}

	.btn:hover,
	.btn-primary:hover {
		background-color: var(--primary);
		color: var(--white);
		border-color: var(--primary);
	}

	.btn:not(:disabled):not(.disabled).active,
	.btn:not(:disabled):not(.disabled):active,
	.btn-primary:not(:disabled):not(.disabled).active,
	.btn-primary:not(:disabled):not(.disabled):active{
		color: #ffffff;
		background-color: #89c640;
		border-color: #89c640;
	}

	.btn-secondary {
		color: #ffffff;
		background-color: #89c640;
		border: 0px solid #89c640;
	}

	.btn-secondary:hover {
		color: #ffffff;
		background-color: var(--black);
		border-color: var(--black);
	}

	.btn-secondary:not(:disabled):not(.disabled).active,
	.btn-secondary:not(:disabled):not(.disabled):active{
		color: #ffffff;
		background-color: var(--black);
		border-color: var(--black);
	}

	.btn-primary:focus, .btn-primary .focus,
	.btn-secondary:focus, .btn-secondary .focus{
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-khtml-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		outline: none;
	}

	.btn-primary:visited,
	.btn-secondary:visited {
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-khtml-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
	}

	.btn-primary:not([disabled]):not(.disabled):active:focus,
	.btn-secondary:not([disabled]):not(.disabled):active:focus {
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-khtml-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
	}

	.small-btn{
		font-size: 14px;
		line-height: 15px;
	    padding: 8px 15px;
	}

	.smart-btn{
		width: 30px;
		padding-left: 0;
		padding-right: 0;
		-webkit-border-radius: 3px;
	    -khtml-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
		background: #f4f4f4;
    	color: #707070;
    	border: 1px solid #e9ecef;
    	-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
    	-khtml-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
    	-moz-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
    	-ms-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
    	-o-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
    	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.03), 0 8px 10px -5px rgba(0,0,0,0.03);
	}

/* BTN Class S */

/* Section | Top | Bottom | Gap S */
	
	.margin-bottom-0 {
		margin-bottom: 0px !important;
	}

	.no-padding-right {
		padding-right: 0px;
	}

	.margin-bottom-25 {
		margin-bottom: 25px;
	}

	.margin-top-25 {
		margin-top: 25px;
	}

	.section-gap-padding {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-gap-half-padding {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section-gap-margin {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.section-gap-half-margin {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.top-gap-padding {
		padding-top: 100px;
	}

	.top-gap-margin {
		margin-top: 100px;
	}

	.bottom-gap-padding {
		padding-bottom: 100px;
	}

	.bottom-gap-margin {
		margin-bottom: 100px;
	}

	.section-gap-padding-25 {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.bottom-padding-50 {
		padding-bottom: 50px;
	}

	@media (max-width:992px) {

		.section-gap-padding {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.section-gap-margin {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.top-gap-padding {
			padding-top: 50px;
		}

		.top-gap-margin {
			margin-top: 50px;
		}

		.bottom-gap-padding {
			padding-bottom: 50px;
		}

		.bottom-gap-margin {
			margin-bottom: 50px;
		}
	}

	.section-gap-top-nopadding {
		padding-top: 0;
	}

	.section-gap-top-nomargin {
		margin-top: 0;
	}

	.section-gap-bottom-nopadding {
		padding-bottom: 0;
	}

	.section-gap-bottom-nomargin {
		margin-bottom: 0;
	}

/* Section | Top | Bottom | Gap E */

/* Basic Form S */

	.ad-form{
		position: relative;
	}

	.ad-form-group {
	    margin-bottom: 25px;
	    position: relative;
	}

	.ad-form-group label {
	    font-size: 14px;
	    font-weight: 600;
	    font-style: normal;
	    line-height: 150%;
	    color: #3e3e3e;
	    display: block;
	    padding-bottom: 5px;
	}

	.ad-form-group .ad-input {
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 120%;
	    color: #3e3e3e;
	    border: 1px solid #e0e0e0;
	    -webkit-border-radius: 0;
	    -khtml-border-radius: 0;
	    -moz-border-radius: 0;
	    -ms-border-radius: 0;
	    -o-border-radius: 0;
	    border-radius: 0;
	    resize: none;
	    height: 45px;
	    padding: 0 15px;
	}

	.ad-form-group .ad-input:focus {
	    outline: none;
	    box-shadow: none;
	    border-color: var(--primary);
	}

	.ad-form-group .ad-input::-webkit-input-placeholder {
	    color: var(--primary);
	    font-size: 14px;
		opacity: 0.5;
	}

	.ad-form-group .ad-input::-moz-placeholder {
	    color: var(--primary);
	    font-size: 14px;
		opacity: 0.5;
	}

	.ad-form-group .ad-input:-ms-input-placeholder {
	    color: var(--primary);
	    font-size: 14px;
		opacity: 0.5;
	}

	.ad-form-group .ad-input:-moz-placeholder {
	    color: var(--primary);
	    font-size: 14px;
		opacity: 0.5;
	}
	.ad-form-group textarea.ad-input {
		height: auto;
		padding: 12px 15px;
	}
	.ad-form-group textarea.ad-input::-webkit-input-placeholder {
	    font-size: 14px;
	}

	.ad-form-group textarea.ad-input::-moz-placeholder {
	    font-size: 14px;
	}

	.ad-form-group textarea.ad-input:-ms-input-placeholder {
	    font-size: 14px;
	}

	.ad-form-group textarea.ad-input:-moz-placeholder {
	    font-size: 14px;
	}

	.ad-form-group .ad-form-help {
	    font-size: 12px;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 150%;
	    color: #616161;
	    display: block;
	    padding: 5px 0;
	}

	.ad-form-group .ad-error,
	.ad-form-group .error {
		font-size: 12px;
		font-weight: 600;
		line-height: 100%;
		color: #e53935;
		display: block;
		margin: 0px 0;
		position: absolute;
		bottom: -20px;
		padding-bottom: 0;
	}

	.ad-form-group .ad-form-control-static {
	    font-size: 14px;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 150%;
	    color: #9e9e9e;
	    display: block;
	}

	.ad-form-group .ad-group-text {
	    font-size: 14px;
	    font-weight: 400;
	    font-style: normal;
	    line-height: 150%;
	    color: #9e9e9e;
	}

	.ad-form-group select.form-control:not([size]):not([multiple]), .ad-form-group select.ad-input:not([size]):not([multiple]) {
	    height: 35px;
	}
	.ad-radio .formRadio-option {
	    position: relative;
	    display: inline-flex;
	    align-items: center;
	    padding-top: 10px;
	  }
	  .ad-radio .formRadio-option label {
	    padding-left: 5px;
	    font-size: 14px !important;
	    line-height: 120%;
	    position: relative;
	    margin-bottom: 0;
	    padding-bottom: 0;
	    cursor: pointer;
	  }
	  .ad-radio .formRadio-option label:before,
	  .ad-radio .formRadio-option label:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    margin: auto 0;
	  }
	  .ad-radio .formRadio-option input[type="radio"] {
	    visibility: visible !important;
	    opacity: 0;
	    padding: 0;
	    -webkit-appearance: none;
	    width: 25px;
	    height: 25px;
	    margin: 0;
	    outline: 0;
	    z-index: 99;
	  }
	  .ad-radio .formRadio-option input[type="radio"]:not(:checked) + label:before,
	  .ad-radio .formRadio-option input[type="radio"]:not(:checked) + label:after,
	  .ad-radio .formRadio-option input[type="radio"]:checked + label:before,
	  .ad-radio .formRadio-option input[type="radio"]:checked+label:after {
	    position:absolute;
	    top:0;
	    bottom:0;
	    margin:auto 0;
	  }
	  .ad-radio .formRadio-option input[type="radio"]:not(:checked) + label:before,
	  .ad-radio .formRadio-option input[type="radio"]:checked + label:before {
	    width: 22px;
	    height: 22px;
	    border-radius: 50%;
	    border: 1px solid #707070;
	    left: -21px;
	  }
	  .ad-radio .formRadio-option input[type="radio"]:not(:checked) + label:after,
	  .ad-radio .formRadio-option input[type="radio"]:checked+label:after {
	    width: 12px;
	    height: 12px;
	    border-radius: 50%;
	    left: -16px;
	  }
	  .ad-radio .formRadio-option input[type="radio"]:checked+label:after {
	    background: #707070;
	  }
/* Basic Form E */